@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Great+Vibes&family=Lobster&family=Redacted+Script&display=swap');
#a2{
    height: 53px;
    width: 81px;
    margin-left:-244px;
}
#a1{
    background-color :black;
    width: 100%;
    height: 45px;
}
#b2{
    height: 550px;
    width: 100%;
}

.row{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col{
    border: solid black 3px;
    width: 460px;
    height:352px;

}
img{
    height: 540px;
    width: 150%;

}
h2{
text-align: center;
color: bisque;
font-family: 'Bonbon',cursive;
 }
h3{
    color:white;
    text-align: center;
    font-size: 19px; 
    
}
#a1{
     border:white solid 2px;
     color:rgb(107, 238, 67);
     text-align: center;
     font-size: x-large;
     padding-left: 8px;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-right: 8px;
     

} 
/* #V{
    padding-left: 10PX;
    text-align: center;
     color: white;
    font-size: 40px;
} */
.row1{
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black;
}
#h3{
    text-align: center;
    font-size: 20px;
    font-style:oblique;
    padding-left: 10px;
} 
body{
    background-image: url("./images/b5.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
#d3{
    color: white;
    margin-right: 192px;
    font-style:italic;
    font-size: 40px;
}
.i1{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1000px;
}
.i2{
    position: absolute;
    bottom: -40px;
    background: rgb(0,0,0);
    background: rgb(0,0,0,0.5);
    color: #f1f1f1;
    width: 37%;
    height: 80%;
    padding: 20px;
}
p{
    color: white;
    font-size: 40px;
    margin-left: 50px;
    font-style: oblique;
    text-align: center;
}
#c1{
    height: 500px;
    width: 656px;
    background-image: url("./images/s1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 45px;
    margin:4px, 4px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    border: 3px solid white ;

}
#c2{
    width: 824px;
    height: 518px;
    background-image:url("./images/s8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 682px;
    margin-top: -518px;
    border: white solid 3px;
    /* margin:4px, 4px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    border: 5px solid black ; */

}
#c6{
    height: 229px;
    width:354px;
    /* background-color: bisque; */
    border-radius: 56px;
    border: black solid 2px;
    margin-top: -7px;
}
#c3{
    height: 229px;
    width:354px;
    /* background-color:  rgb(201, 136, 150); */
    margin-left: 281px;
    border-radius: 56px;
    border: black solid 2px;    

}
#c4{
    height: 229px;
    width:354px;
    /* background-color:bisque; */
    border-radius: 56px;
    border: black solid 2px;
    
    

}
#c5{
    height: 229px;
    width:354px;
    /* background-color: rgb(201, 136, 150); */
    margin-left: 281px;
    border-radius: 56px;
    border: black solid 2px;

}
#c7{
    color: lightgoldenrodyellow;
    font-family:pacifico;
    font-size:40px;
    margin-left: 152px;
}
#c9{
    height: 79px;
    width: 114px;
    border-radius: 81px;
    margin-left: 10px;
    margin-top: 10px;
}
#c10{
    height: 10px;
    width: 10px;
}
#c11{
    height: 10px;
    width: 10px;
}
#c12{
    height: 10px;
    width: 10px;
}
#s1{
    height: 240px;
    width: 819px;
    border: 2px black solid;
}
#f{
    font-size: 60px;
    margin-left: 246px;
    color: white;
    margin-top: -218px;
}
#f1{
    height: 225px;
    width: 239px;
}
.s1{
    width: 239px;
    height: 204px;
}
.s2{
    border: solid black 3px;
    width: 815px;
    height:218px;
    margin-top: -229px;
    margin-bottom: 2px;
    background-image: url("./images/s5.jpg");

}
#f2{
    font-size: 60px;
    margin-left: 382px;
    color: white;
    margin-top: -54px;
}
#f3{
    font-size: 60px;
    margin-left: 504px;
    color: white;
    margin-top: -32px;
    margin-bottom: 181px;
}
#s2{
    height: 85px;
    width: 819px;
    /* background-image:url("b4.jpg"); */
    margin-top: -24px;
    margin-bottom: 229px;
}
#r1{
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
    color: white;

}
#r2{
    font-style: oblique;
    font-size: 30px;
    color: brown;

}
#s3{
    height: 146px;
    width: 821px;
    /* background-image:url("b4.jpg"); */
    margin-top:-227px;
    font-size: 22px;
    color: white;
}
#s4{
    height: 146px;
    width: 821px;
    /* background-image:url("b4.jpg"); */
    margin-top: -49px;
}
#s5{
    height: 146px;
    width: 821px;
    /* background-image:url("b4.jpg"); */
    margin-top: -49px;
}
#s6{
    height: 146px;
    width: 821px;
    /* background-image:url("b4.jpg"); */
    margin-top: -49px;
}
#s7{
    height: 146px;
    width: 821px;
    /* background-image:url("b4.jpg"); */
    margin-top: -49px;
}
#s8{
    height: 146px;
    width: 821px;
    /* background-image:url("b4.jpg"); */
    margin-top: -49px;
}
#t1{
    height: 400px;
    width: 1509px;
    /* background-color: chocolate; */
    margin-top:-25px;
}
#t2{
    height: 400px;
    width: 512px;
    /* background-color:white; */
    
    background-image: url("./images/s9.jpg");
}
#t3{
    height: 400px;
    width: 488px;
    background-image: url("./images/s9.jpg");
    /* background-color:whitesmoke; */
    margin-top: -400px;
    margin-left: 514px;
}
#t4{
    height: 400px;
    width: 504px;
    background-image: url("./images/s9.jpg");
    /* background-color:white; */
    margin-top: -400px;
    margin-left: 1003px;
}
 #t5{
    height: 198px;
    width: 250px;
    /* background-color:darkgreen; */
    border-radius: 51px;
}
#t6{
    height: 211px;
    width: 297px;
    /* background-color:rgb(18, 0, 100); */
     margin-top: -211px;
    margin-left: 211px;

} 

#t8{
    height: 216px;
    width: 281px;
    /* background-color:rgb(90, 100, 0); */
    margin-top: -174px;
    margin-left: 212px;
}

#t10{
    height: 214px;
    width: 289px;
    /* background-color:blanchedalmond; */
    margin-top:-171px;
    margin-left: 218px;
}
#t11{
    height: 190px;
    width: 200px;
}
#r3{
    height: 185px;
    width: 508px;
    border:white 5px solid;
}
#t12{
    font-size: 25px;
    padding-top: 82px;
    color: wheat;
    
}
#m1{
    font-style: oblique;
    font-size: 50px;
    margin-left: 529px;
    margin-top: 10px;
    color: white;
}
#q1{
    height: 477px;
    width: 955px;
    /* background-image: url("beans.jfif"); */
    margin-top: -21px;
}
#q2{
    height: 475px;
    width: 555px;
    margin-top: -477px;
    margin-left: 955px;
}
#l1{
    font-size: 29px;
    color: white;
    margin-top: 44px;
    margin-left: -304px;
    margin-bottom: -63px;
    font-style: oblique;
}
#b5{
    height: 413px;
    width:313px;
    /* background-color: floralwhite; */
    border: white solid 2px;
    margin-top: 10px;
}
#b6{
    height: 413px;
    width:313px;
    /* background-color: turquoise; */
    margin-top: -417px;
    margin-left: 313px;
    border: white solid 2px;

}

#b7{
    height: 413px;
    width:325px;
    /* background-color: grey; */
    margin-top: -417px;
    margin-left: 628px;
    border: white solid 2px;
}

#k1{
    font-size: 27px;
    color:white;
    font-family:pacifico;
}
#k4{
    height: 109px;
    width: 312px;

}
#k7{
    font-size: 19px;
    color: whitesmoke;
    margin-top: 2px;
}
#k2{
    font-size: 27px;
    color:white;
    font-family:pacifico;
}
#k5{
    height: 109px;
    width: 312px;
}
#k8{
    font-size: 19px;
    color: whitesmoke;
    margin-top: 2px;
}
#k3{
    font-size: 27px;
    color:white;
    font-family:pacifico;
}
#k6{
    height: 109px;
    width: 323px;

}
#k9{
    font-size: 20px;
    color: whitesmoke;
    margin-top: 2px;
}
#o1{
    text-align: center;
    font-size: 32px;
    margin-top: 32px;
    color: wheat;
}
#y1{
    width: 264px;
    height: 186px;
    background-color: coral;
    margin-top: 2px;
    margin-bottom: 20px;

}
#y2{
    width: 289px;
    height: 184px;
    background-color: white;
    margin-top: -474px;
    margin-left: 990px;
    margin-bottom: 10px;
    border: white solid 5px;
}
#y3{
    width: 552px;
    height: 270px;
    margin-top: -8px;
    margin-left: 956px;
}
#g{
    font-size: 30px;
    color: black;
    margin-left: 2pX;
    margin-top: 113px;
    padding-top: 26px;
}
#g1{
    font-size: 30px;
    color: black;
    margin-left: 33px;
}
#y2 figure{
    position: relative;
    margin: 0;
    width: 500%;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slidy infinite;
}
#y2 figure img{
    width: 20%;
    float: left;
    height: 197px;
}
@keyframes slidy
{
    0%{left: 0%;}
    20%{left: 0%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
    

    }

#y2{
    border: 2px solid black;
    height: 198px;
    width: 434px;
    margin-top: -473px;
    margin-left: 1072px;
    overflow: hidden;
}
#w1{
    font-size: 37px;
    font-family: monospace;
    color: white;
    margin-left: 71px;
    margin-top: 17px;
}
#w2{
     margin-left: 76px;
     color: white;
     font-size:36px;
     margin-top: -31px;
}
#w3{
    margin-left: 122px;
    color: white;
    font-size: 21px;
    margin-top: -30px;
}
#w4{
    margin-left: 72px;
    color: white;
    font-size: 35px;
    margin-top: -1px;
}
#w5{
    margin-left: 131px;
    color: white;
    font-size: 25px;
    margin-top: -37px;
}
#w6{
    margin-left: 72px;
    color: white;
    font-size: 35px;
    margin-top: 0px;
}
#w7{
    margin-left: 131px;
    color: white;
    font-size: 22px;
    margin-top: -31px;
}
#w8{
    margin-left: 685px;
    color: white;
    font-size: 35px;
    margin-top: -76px;
    display: flex;
}
#w9{
    margin-left: 739px;
    color: white;
    font-size: 35px;
    margin-top: -34px;
    display: flex;
}
#w10{
    margin-left: 799px;
    color: white;
    font-size: 35px;
    margin-top: -39px;
    display: flex;
}
#w11{
    margin-left:679px;
    color: white;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#w12{
    margin-left: 990px;
    margin-top: -268px;
    display: flex;
    font-size: 31px;
    color: white;

}
#w13{
    margin-left: 994px;
    margin-top: -4px;
    display: flex;
    font-size: 31px;
    color: white;
}
#name{
    margin-left: 1110px;
    margin-top: -64px;
    display: flex;
    font-size: 31px;
    color: white;
}
#email{
    margin-left: 1110px;
    margin-top: -60px;
    display: flex;
    font-size: 31px;
    color: white;
   
}
#w14{
    margin-left: 978px;
    margin-top: -4px;
    display: flex;
    font-size: 31px;
    color: white;
}
#feed{
    
    margin-left: 1114px;
    margin-top: -60px;
    display: flex;
    font-size: 9px;
    color: white;
}
#z{
    height: 270px;
    width: 441px;
    margin-top: -1px;
    margin-left: 116px;
}
#d8{
    height: 313px;                                                    ;
    width: 100%;
    margin-top: 487px; 
    border: 2px solid white;
}
#w15{
    margin-left: 1241px;
    margin-top: 14px;
    display: flex;
    font-size: 14px;
    color: black; 
}









    







